{% extends 'base.html' %}{% load crispy_forms_tags %} {% block style %}
<style>
    .card1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 800px;
        margin: auto;
        font-family: arial;
    }
    
    .profile-header {
        position: relative;
        min-height: 130px;
        margin-top: 120px;
    }
    
    .profile-image {
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -90%);
    }
    
    .title1 {
        color: grey;
        font-size: 18px;
    }
    
    .header {
        width: 150px;
        text-align: left;
        font-weight: bold;
    }
</style>
{% endblock %} {% block body %}
<div class="container">
    <div class="card1">
        <div class="profile-header">
            <div style="text-align: center;">
                <img src="{{item.Photo.url}}" alt="Profile picture" class="card-img-top" style="max-width:320px;max-height:320px;margin-top: 10px;">
            </div>
        </div>

        <div>
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert" id="">
                <button type="button" class="close" data-dismiss="alert">X</button> {{message}}
            </div>
            {% endfor %} {% endif %}
        </div>
        <!-- item_Details -->
        <div style="margin-top: 20px;">
            <h2 style="text-align:center ">{{item.Name}} Information</h2>
            <table class="table">
                <tr>
                    <td class="header">Name: </td>
                    <td>{{item.Name}}</td>
                </tr>
                <tr>
                    <td class="header">Description: </td>
                    <td>{{item.Description}}</td>
                </tr>
                <tr>
                    <td class="header">Minimum Price: </td>
                    <td>{{item.Price}} Tk</td>
                </tr>
                <tr>
                    <td class="header">End Date: </td>
                    <td>{{item.DateTime.date}}</td>
                </tr>
            </table>
            <div class="container" style="margin-top: 30px;min-height:350px">
                <div class="row" style="margin: 20px;">
                    <div class="col-sm"></div>
                    <div class="col-sm" style="text-align: start; margin-bottom:20px">
                        <form action="" method="POST">
                            {% csrf_token %}{{form|crispy}}
                            <button type="submit" class="btn btn-info mb-2">Update</button>
                        </form>

                    </div>
                    <div class="col-sm"></div>

                </div>
                <div>
                </div>

            </div>
        </div>
       
    </div>
</div>

{% endblock %}